body {
    padding-left: 64px;
    padding-right: 64px;
    background-color: #222;
}

header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
    margin-bottom: 8vh;
   margin-right: -64px;
   margin-left: -64px;
   padding-left: 64px;
   background-image: url(../images/background.png);
   background-size: cover;
}

.nav{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222;
    transition: all 0.3s ease-in-out;
  }
  
.logo img{
    width: 20%;
}

.logoWorks img{
  width: 10%;
}

  .nav .container{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 64px;
    padding-right: 64px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
  }
  
  .nav a{
    text-decoration: none;
    font-size: 16pt;
    font-family: 'Fira Sans', sans-serif;
    color: #F5F7FA;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav.active{
    background-color: #222;
    box-shadow: 0  2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .nav.active a{
    color: #222;
  }
  
  
  .nav a.current, .nav a:hover{
    color:#66DC95;
    font-weight: bold;
  }


  .hamburger-menu {
    display: none; /* Hidden by default for larger screens */
    cursor: pointer;
}

  

header h1 {
    font-size: 64pt;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

header h2 {
    font-size: 32pt;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 8px;
}

.header-title{
    margin-top: auto;
    margin-bottom: auto;
}

.foto {
    width: 75%;
}

.header_foto {
    text-align: right;
}

.bio_foto {
  text-align: left;
  margin-left: -64px;

}

.bio_foto img{
width: 100%;

}

.bio_foto iframe{
  width: 100%;
  height: 50vh;
  
  }

.header_foto img{
    height: 100vh;
}

.app {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 64px;
}

.title {
  margin-top: 48px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 48px;
  align-items: center;
}

.title img {
  width: 5vw;
  margin-right: 2rem;
}

.title h1 {
  font-size: 24pt;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  color: #F5F7FA;
}

.app h1 {
  font-size: 24pt;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  color: #F5F7FA;
}


.text-left {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
p {
    font-size: 20pt;
    line-height: 24pt;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 24px;
    color: #F5F7FA;
}


section h1 {
    font-size: 24pt;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    color: #F5F7FA;
}

  
  #bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-bottom: 15vh;
  }

  .bio h1 {
    margin-top: 2rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .buttons .row{
    display: flex;
    flex-direction: row;
  }
  .buttons .row a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 8px;
    padding: 1rem;
    font-size: 20pt;
    line-height: 24pt;
    font-family: 'Fira Sans', sans-serif;
    margin: 40px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 5px 5px 5px 5px;
    transition: all 0s ease-out;
  }
  .row a:active{
    top: 3px;
  }
  
  .row a.instagram,
  .row a.instagram span{
    background: #66DC95;
  }

  .row a span{
    top: 0;
    line-height: 55px;
    font-size: 20pt;
    line-height: 24pt;
    display: block;
    font-weight: normal;
    border-radius: 5px 0 0 5px;
  }

  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
  }

  .works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 15vh;
    margin-top: 2rem
  }

  .works h2 {
    font-size: 24pt;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
  }

  .works a{
    text-decoration: none;
    color: #F5F7FA;
  }

  .works img{
    width: 100%;
  }
  #logo {
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }
  #trainsurfers {
    background-image: url(../images/mockupnew.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  #strava {
    background-image: url(../images/stravamockup.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  #verlorentijd {
    background-image: url(../images/verlorentijd.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  #journeyofemotions {
    background-image: url(../images/tumb.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  #socialjourney {
    background-image: url(../images/SocialJourney.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  #reedham {
    background-image: url(../images/Reedham.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }
  
  @media only screen and (max-width: 1200px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 8vh;
        height: 80vh;
       margin-right: -64px;
    }
    
    .nav{
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 64px;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        background-color: #222;
        transition: all 0.3s ease-in-out;
      }

      
      

    .logo img{
        width: 10vw;
    }
    
      .nav .container{
       display: flex;
       flex-direction: column;
       padding-bottom: 0rem;
        transition: all 0.3s ease-in-out;
      }

    .hamburger-menu {
        display: block;
        position: fixed;
        z-index: 9999;
        right: 64px;
        width: 8%;
        padding-top: 2rem;
    }
    
    .nav ul {
        display: none;
    }  

      .nav.active ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2rem;
        gap: 1.5rem;
      }
      
      .nav a{
        text-decoration: none;
        font-size: 24pt;
        font-family: 'Fira Sans', sans-serif;
        color: #222;
        transition: all 0.3s ease-in-out;
      }
      
      .nav.active{
        background-color: #222;
        box-shadow: 0  2px 10px rgba(0, 0, 0, 0.3);
      }
      
      .nav.active a{
        color: #222;
      }
      
      
      .nav a.current, .nav a:hover{
        color:#66DC95;
        font-weight: bold;
      }
      
    
    header h1 {
        font-size: 48pt;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 700;
    }
    
    header h2 {
        font-size: 24pt;
        font-family: 'Fira Sans', sans-serif;
        margin-top: 8px;
    }
    
    .header-title{
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .foto {
        width: 100%;
    }
    
    .header_foto {
        text-align: right;
    }
    
    .header_foto img{
        width: 40vw;
        height: auto;
    }
    
    .app {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 64px;
  }
  
  .app h1 {
      font-size: 24pt;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 700;
  }
  
  .text-left {
      display: flex;
      flex-direction: column;
      gap: 64px;
  }
    
    
    p {
        font-size: 20pt;
        line-height: 24pt;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        margin-top: 24px;
    }
    
    .works {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-bottom: 15vh;
    }
  
   
      #bio {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        margin-bottom: 15vh;
      }
    
      .bio h1 {
        margin-top: 2rem;
      }
      
      .buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    
      .buttons .row{
        display: flex;
        flex-direction: row;
      }
      .buttons .row a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        gap: 8px;
        padding: 1rem;
        font-size: 20pt;
        line-height: 24pt;
        font-family: 'Fira Sans', sans-serif;
        margin: 40px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        border-radius: 5px 5px 5px 5px;
        transition: all 0s ease-out;
      }
      .row a:active{
        top: 3px;
      }
      
      .row a.instagram,
      .row a.instagram span{
        background: #66DC95;
      }
    
      .row a span{
        top: 0;
        line-height: 55px;
        font-size: 20pt;
        line-height: 24pt;
        display: block;
        font-weight: normal;
        border-radius: 5px 0 0 5px;
      }
    
      
      .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
      }
  }

  .tekstWerk h2 {
    font-size: 24pt;
    color: #F5F7FA;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 2rem;
    font-weight: 700;

  }

  .tekstWerk h1 {
    font-size: 24pt;
    color: #F5F7FA;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;

  }

  .stravaImg {
    width: 90%;
    margin-left: 4rem;
  }
  
  
  